# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Examples repo
.threads*/
.e2e_counter_writeraddr
docker-compose.yml

# JS PB files
*.js
*.d.ts

# Dart PB Files
api/pb/dart/.dart_tool
api/pb/dart/.packages
api/pb/dart/lib

# vscode config folder
.vscode/
.idea/

**/node_modules
tags

# Misc
**.DS_Store
