name: Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Check out code
        uses: actions/checkout@v1
      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          go get -v -t -d ./...
      - name: Test
        run: go test ./...

  android-client:
    name: Android Client Test
    runs-on: ubuntu-latest
    services:
      threads:
        image: '../../../'
        ports:
        - 6006:6006
    steps:
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install protoc
        uses: Arduino/actions/setup-protoc@master
        with:
          version: '3.11.2'
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.0.5
      - name: Check out code
        uses: actions/checkout@v1
      - name: Test
        run: |
             cd api/pb/android
             ./gradlew threads:test
            